{% extends "base.html" %}
{% block content %}

<h2>Add Pet</h2>
<div class="add-card">
<form action="/pets/add" method="post">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Pet Name" required autofocus>
  </div>

  <div>
    <label for="species">Species:</label>
    <input type="text" id="species" name="species" placeholder="Cat" required autofocus>
  </div>

  <div>
    <label for="date_of_birth">DOB:</label>
    <input type="text" id="date_of_birth" name="date_of_birth" placeholder="01-01-2000" required>
  </div>

  <div>
    <label for="owner">Owner:</label>
    <select id="owner" name="owner_id">
      {% for owner in all_owners %}
        <option value="{{ owner.id }}">{{ owner.full_name() }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="vet">Vet:</label>
    <select id="vet" name="vet_id">
      {% for vet in all_vets %}
        <option value="{{ vet.id }}">{{ vet.full_name() }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="treatment_notes">Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes">
  </div>

  <div>
    <label for="checked_in">Checked In:</label>
    <input type= "checkbox" id="checked_in" name="checked_in">
  </div>

  <button class="add-button" type="submit">Submit</button>

</form>

{% endblock %}