{% extends 'base.html' %}

{% block content %}
<h2 class="sub-head">Pets</h2>
<a class="add-option" href="/pets/add">Add Pet</a>
<div class="pet-card-container">
    {% for pet in all_pets  %}
    <div class="card">
        <div class="pet-card-header">
          <h3 class="pet-card-heading">{{pet.name}}</h3>
          {% if pet.checked_in == True %}
            <div class="true-false">&#10004</div>
          {% else %}
          <div class="true-false">&#10008</div>
          {% endif %}
        </div>
        <div>Species: {{pet.species}}</div>
        <div>DOB: {{pet.date_of_birth}}</div>
        <div>Owner: {{pet.owner.first_name}} {{pet.owner.last_name}}</div>
        <div>Vet: {{pet.vet.first_name}} {{pet.vet.last_name}}</div>
        <hr />
        <div>Notes: {{pet.treatment_notes}}</div>
  
        <hr />
        <div class="card-actions">
          <form action="pets/{{pet.id}}/edit">
            <button class="edit-button">Edit</button>
          </form>

          <form action="/pets/{{pet.id}}/delete" method="POST">
            <button class="delete-button">Delete</button>
          </form>
        </div> 
      </div>
       
    {% endfor %}
  </div>

{% endblock content %}