{% extends "base.html" %}
{% block content %}

<h2 class="sub-head">Vets</h2>
{% for vet in all_vets %}
  <div>
    <p>{{vet.first_name}} {{vet.last_name}}</p>
    <ul>
      {% for pet in vet.get_pets() %}
      <li>{{pet.name}}</li>
      {% endfor %}
    </ul>
    <form action="vets/{{vet.id}}/edit">
      <button>Edit</button>
      </form>
    {% if vet.get_pets()|length == 0 %}
    <form action="/vets/{{vet.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    {% else %}
      <button disabled>Delete</button>
    {% endif %}
  </div>
  {% endfor %}
  <a href="/vets/add">Add Vet</a>
{% endblock %}