body {
    background-color: white;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 0 10px;
}

footer {
    background-color:  #8ACB80;
    color: #fff;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    padding-left: 10px;
}

#main-title { 
    font-size: 4rem;
    font-family: 'Just Me Again Down Here', cursive;
    text-align: center;
    flex-grow: 1;
}

nav {
    background-color: #8ACB80;
    height: 3rem;
    padding-left: 10px;
    }
    
nav ul {
    display: flex;
    }
    
nav li {
    margin-right: 15px;
    color: #fff;
    font-size: 1.3rem;
    list-style: none;
    }
    
nav li a {
    color: #fff;
    text-decoration: none;
    }
    
nav li a:hover {
    text-decoration: underline;
    }

.sub-head {
    text-align: left;
    font-size: 2rem;
    font-style: bold;
}

.banner {
    height: 8rem;
    background-color:  #8ACB80;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Karla', sans-serif;

    }

.banner img {
    height: 140%;
}

.nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 1px solid plum;
}

.trademark {
    text-align: center;
    font-size: 1rem;
}

.primary-info {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.primary-info-key {
    font-size: 24px;
    font-weight: bold;
}
.primary-info-value {
    font-size: 48px;
    font-weight: bold;
    color: #8ACB80;
}

.home-page-checked-in {
    font-size: 18px;
}

.home-page-checked-in-pet {
    font-style: italic;
    font-weight: bold;
    color: #8ACB80;
}

.home-page-checked-in-vet {
    font-style: italic;
    font-weight: bold;
    color: plum;
}

.add-option {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid purple;
    background-color: plum;
    padding: 5px;
    border-radius: 3px;
}

.pet-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 2px solid plum;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
    padding: 5px;
    background-color: #8ACB80;
    color: #fff;
}

.pet-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.pet-card-heading {
    margin: 0;
}

.card-heading {
    font-size: 1.5rem;
    margin: 0;
    text-decoration: underline;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.true-false {
    padding-right: 10px;
}

.add-card {
    border: 2px solid plum;
    border-radius: 10px;
    width: 35%;
    margin: 100px;
    padding: 5px;
    background-color: #8ACB80;
    color: #fff;
    text-align: -webkit-left;
    display: flex;
    justify-content: center;
}

.add-button {
    border-radius: 10px;
    background-color: plum;
    color: #fff;
}

.edit-button {
    border-radius: 10px;
    background-color: #F6E6C2;
    color: black;
}

.delete-button {
    border-radius: 10px;
    background-color: #F9566E;
    color: black;
}

/* .pet-card-actions {
    display: flex;
    justify-content: space-between;
} */

/* .date_picker {
background: transparent;
bottom: 0;
color: transparent;
cursor: pointer;
height: auto;
left: 0;
position: absolute;
right: 0;
top: 0;
width: auto;
} */
