{% extends "base.html" %} {% block content %}

<h2 class="sub-head">Owners</h2>
<a class="add-option" href="/owners/add">Add Owner</a>
{% for owner in all_owners %}
<div class="card">
  <div class="card-heading">{{owner.first_name}} {{owner.last_name}}</div>
  <p>Contact Number: {{owner.contact_number}}</p>
  <h4>Assigned Pets:</h4>
  <ul>
    {% for pet in owner.get_pets() %}
    <li>{{pet.name}}</li>
    {% endfor %}
  </ul>
  <hr />
  <div class="card-actions">
    <form action="owners/{{owner.id}}/edit">
      <button class="edit-button">Edit</button>
    </form>
    <form action="/owners/{{owner.id}}/delete" method="POST">
      <button class="delete-button">Delete</button>
    </form>
  </div>
</div>
{% endfor %} {% endblock %}
